cache
test
logs
user_privileges
tabdata.php
parent_tabdata.php
config.inc.php
include/database/PearDatabase.php
maestrano/var/*
maestrano.json
migrate.php
languages/en_us/EventManagement.php
languages/en_us/EventTicket.php
languages/fr_fr/EventManagement.php
languages/fr_fr/EventTicket.php
modules/EventManagement/
modules/EventTicket/
